<div>
  <app-header></app-header>
  <div class="content" fxLayout="column" fxLayoutAlign="center start">

    <div class="search-box">
      <input [formControl]="search" class="search-input" placeholder="Search for an artist..">
      <div class="loader">
        <div class="lds-ripple" [hidden]="!loading" [@animate]="{value:'*',params:{y:'100%'}}">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <div class="e-container" fxLayout="row wrap"  fxLayoutAlign="center start">
      <app-artist-box [@animate]="{value:'*',params:{y:'40%'}}" *ngFor="let artist of (artists$ | async)?.items; trackBy: trackFn" [artist]="artist"></app-artist-box>
    </div>

    <app-pagination *ngIf="(artists$ | async)?.items?.length" [offset]="offset" [limit]="limit" [size]="count" (pageChange)="onPageChange($event)"></app-pagination>

  </div>
</div>
